In [ ]:
import pandas as pd
df_ds=pd.read_csv("/content/DSScoreTerm1.csv")
df_ma=pd.read_csv("/content/MathScoreTerm1.csv")
df_phy=pd.read_csv("/content/PhysicsScoreTerm1.csv")
#print(df_ds.head(5))
df_ds.drop(["Name","Ethinicity"],axis=1,inplace=True)
print(df_ds.head())

   Score  Age        Subject Sex  ID
0   82.0   18  Data Structue   M   1
1   79.0   19  Data Structue   M   2
2   39.0   19  Data Structue   M   3
3   76.0   18  Data Structue   M   4
4   76.0   18  Data Structue   F   5

In [ ]:
2 
df_ma.drop(["Name","Ethinicity"],axis=1,inplace=True)
df_phy.drop(["Name","Ethinicity"],axis=1,inplace=True)
print(df_ma.head())
print(df_phy.head())

   Score  Age Subject Sex  ID
0   88.0   18   Maths   M   1
1   85.0   19   Maths   M   2
2   45.0   19   Maths   M   3
3   82.0   18   Maths   M   4
4   82.0   18   Maths   F   5
   Score  Age  Subject Sex  ID
0   84.0   18  Physics   M   1
1   81.0   19  Physics   M   2
2   41.0   19  Physics   M   3
3   78.0   18  Physics   M   4
4   78.0   18  Physics   F   5

In [ ]:
3
df_ds=df_ds.fillna(0)
df_ma=df_ma.fillna(0)
df_phy=df_phy.fillna(0)

In [ ]:
4
frames=[df_ds,df_ma,df_phy]
result=pd.concat(frames)
print(result)

     Score  Age        Subject Sex   ID
0     82.0   18  Data Structue   M    1
1     79.0   19  Data Structue   M    2
2     39.0   19  Data Structue   M    3
3     76.0   18  Data Structue   M    4
4     76.0   18  Data Structue   F    5
..     ...  ...            ...  ..  ...
594   41.0   19        Physics   F  595
595   71.0   18        Physics   M  596
596   49.0   20        Physics   M  597
597   71.0   20        Physics   M  598
598   69.0   19        Physics   M  599

[1797 rows x 5 columns]
     Score  Age        Subject  Sex   ID
0     82.0   18  Data Structue    1    1
1     79.0   19  Data Structue    1    2
2     39.0   19  Data Structue    1    3
3     76.0   18  Data Structue    1    4
4     76.0   18  Data Structue    2    5
..     ...  ...            ...  ...  ...
594   41.0   19        Physics    2  595
595   71.0   18        Physics    1  596
596   49.0   20        Physics    1  597
597   71.0   20        Physics    1  598
598   69.0   19        Physics    1  599

[1797 rows x 5 columns]

In [ ]:
5
result['Sex']=result['Sex'].replace(['M','F'],[1,2])

print(result)

In [ ]:
6
result.to_csv('ScoreFinal.csv')